*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d2e3c;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.container{
    display: inline-flex;
    margin-bottom: 50px;
}
#box{
    height:500px;
    width: 20%;
    margin-left: 10%;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}
.box1{
    background-color: white;
}
.box2{
    background-color: white;
}
.box3{
    background-color: white;
}
#box img{
    width: 100%;
    height:200px ;
    border-radius: 10px;
}
#box h3{
    text-align: center;
}
.button{
    display: block;
    margin-top: 40px;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
.button:hover{
    background-color: blue;
}
.button a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 924px) {
    .container{
        display: block;
    }
    
#box{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.button{
    margin-top: 20px;
}
}
@media screen and (max-width: 450px) {
    .container{
        display: block;
    }
    
#box{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 40px;
}
.button{
    margin-top: 20px;
}
#box img{
    width: 100%;
    height:140px ;
    border-radius: 10px;
}
}