*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
.container{
    display: inline-flex;
}
.heading{
    text-align: center;
    background-color: rgb(198, 193, 193);
}
.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
.grid{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}
.mole{
    background-image: url(./mole.jpg);
    background-size: cover;
}
